{% extends 'base.html.twig' %}


{% block body %}
<div class="bg-grey py-5">
    <div class="container mt-4 pb-5">
        <div class="col">
            {% for allFavoritesCharacter in allFavoritesCharacters %}
                <div class="card mb-4">
                    <img class ="card-img" src="{{ allFavoritesCharacter.thumbnail.path ~'.jpg' }}" height="auto" width="100%" alt="Card image">
                    <a class="h3 text-uppercase text-dark text-center" href="{{ path('details', {'id':allFavoritesCharacter.id}) }}">
                        {{ allFavoritesCharacter.name }}
                   </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

